*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
/*timer and highscores btn css*/
#highscores {
    background-color: #3CB371;
    font-size: 25px;
}

#highscores:hover {
    background-color: #98FB98;
}

#highscores:visited {
    background-color: #3CB371;
}

#timer {
    font-size: 25px;
}
/*start page css*/
.col-centered {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

.custom-box {
    border-style: solid;
}

#startBtn {
    background-color: #3CB371;
    font-size: 30px;
}

#startBtn:hover {
    background-color: #98FB98;
}

#startBtn:visited {
    background-color: #3CB371;
}
/*quiz style*/
.choice {
    background-color: #3CB371;
    font-size: 20px;
    margin: 10px;
}

.choice:hover {
    background-color: #98FB98;
}

#question {
    font-size: 30px;
}
/*score container style*/
.score-container, 
#total-score {
    font-size: 30px;
}

.initials {
    font-family: 'VT323', monospace;
    font-size: 30px;  
}

#initials-text {
    text-align: center;
}

#highscores-list {
    list-style-type: none;
}
